/* Mobile Styles */

.page-container.scrolling {
  padding: 0 0.5rem;
  max-width: 100%;
  padding-top: 0.5rem;
}

.promo.portrait {
  display: none;
}

@media only screen and (min-width: 768px) {

}

.media__image__scrolling video {
  width: 100%;
}

@media only screen and (min-width: 375px) {

}

@media only screen and (min-width: 600px) {

  .page-container.scrolling {
    padding: 0 1rem;
    padding-top: 1rem;
  }

}

@media only screen and (min-width: 900px) {

  .video__and__description {
    width: 66.66666666666%;
    position: -webkit-sticky;
    position: sticky;
    top: 16px;
    padding-right: 1rem;
    max-height: 100vh;
    overflow-y: scroll;
  }

  .promo.portrait {
    display: block;
  }

  .promo.landscape {
    display: none;
  }

  .video__and__description .media {
    width: 100%;
  }

  .list__of__promos {
    width: 33.333333%;
    padding-left: 1rem;
    border-left: 1px solid rgba(186, 186, 186, 0.25);
  }

  .list__of__promos .promo.portrait {
    padding: 0 0 1rem 0;
  }

}

@media only screen and (min-width: 1004px) {

  .page-container.scrolling {
    max-width: 63rem;
    margin: 0 auto;
  }

  .video__and__description {
    width: 75%;
  }

  .list__of__promos {
    width: 25%;
  }

}

@media only screen and (min-width: 1280px) {

  .page-container.scrolling {
    max-width: 80rem;
  }

}
