---
layout: default
---

<div class="page-container one-columnn">


  <div class="media__image">

    <div class="placeholderVideo">

      <div class="placeholderVideo__text">
        Video pinned to top of screen
      </div>

    </div>

    <div id="pinableVideo" class="videoWrap">

      <div id="close" class="close-button"></div>

      <video id="shortformVideo" controls preload poster="{{ site.data.top-videos[0].image }}">

          <source src="{{ site.baseurl }}/assets/360-dunk.m4v" type="video/mp4">

      </video>

    </div>


  </div>

  {% include media-item.html id="mediaContainer" class="one-column" %}



  <div class="promo-list one-column">

  {% include section-header.html %}

  {% for item in site.data.top-videos limit:10 %}
    {% include promo-landscape.html %}
  {% endfor %}


  </div>

</div>
