---
layout: default
---

<div id="scrollPosition" class="page-container one-columnn">


  <div id="videoContainer" class="media__image one-column">

    <div id="topVideo" class="videoWrap">

      <video id="actualVideo" controls poster="{{ site.data.top-videos[0].image }}">

          <source src="{{ site.baseurl }}/assets/video.mp4" type="video/mp4">

      </video>

    </div>

  </div>

  {% include media-item.html id="mediaContainer" class="one-column" %}



  <div class="promo-list one-column">

  {% include section-header.html %}

  {% for item in site.data.top-videos limit:10 %}
    {% include promo-landscape.html %}
  {% endfor %}


  </div>

</div>
