---
layout: default
---

<div class="page-container one-columnn">


  <div class="media__image one-column">

    <video controls poster="{{ site.data.top-videos[0].image }}">

        <source src="{{ site.baseurl }}/assets/video.mp4" type="video/mp4">

    </video>

  </div>

  {% include media-item.html class="one-column" %}



  <div class="promo-list one-column">

  {% include section-header.html %}

  {% for item in site.data.top-videos limit:10 %}
    {% include promo-portrait.html %}
  {% endfor %}


  </div>

</div>
