<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Shortform Prototype</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/normaliser.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

  </head>

  <body>

    <header class="masthead" id="sportMasthead">
      SPORT
    </header>


    <main>

      {{ content }}

    </main>

    <footer>

      FOOTER

    </footer>

  </body>

  <script type="text/javascript" src="{{ site.baseurl }}/scripts/main.js"></script>

</html>
